.code-container {
  margin: 20px 0 40px;
  position: relative;
  transition: all 1 ease;
}

.code-wrapper-code {
  transition: background-color 1s ease;
  width: 100%;
  padding: 0 !important;
  margin: 0;
  border-radius: .75rem .75rem 0 0 !important;
  margin-bottom: 0;
  border-radius: .75rem .75rem 0 0 !important;
  transition: all 1 ease;
}

.code-wrapper-btn {
  width: 100%;
  border-radius: 0 0 .75rem .75rem;
  border: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.1);
  height: 25px;
}
