.burd-main {
  content: url('../../static/img/lasr/tutorials/burd/burd-main-light.png');
}

[data-theme='dark'] .burd-main {
  content: url('../../static/img/lasr/tutorials/burd/burd-main-dark.png');
}

.addUser {
  content: url('../../static/img/lasr/tutorials/burd/addUser-light.png');
}

[data-theme='dark'] .addUser {
  content: url('../../static/img/lasr/tutorials/burd/addUser-dark.png');
}

.churp {
  content: url('../../static/img/lasr/tutorials/burd/churp-light.png');
}

[data-theme='dark'] .churp {
  content: url('../../static/img/lasr/tutorials/burd/churp-dark.png');
}

.deleteChurp {
  content: url('../../static/img/lasr/tutorials/burd/deleteChurp-light.png');
}

[data-theme='dark'] .deleteChurp {
  content: url('../../static/img/lasr/tutorials/burd/deleteChurp-dark.png');
}

.like {
  content: url('../../static/img/lasr/tutorials/burd/like-light.png');
}

[data-theme='dark'] .like {
  content: url('../../static/img/lasr/tutorials/burd/like-dark.png');
}

.chess-main {
  content: url('../../static/img/lasr/tutorials/chess/chess-main-light.png');
}

[data-theme='dark'] .chess-main {
  content: url('../../static/img/lasr/tutorials/chess/chess-main-dark.png');
}

.registerUser {
  content: url('../../static/img/lasr/tutorials/chess/registerUser-light.png');
}

[data-theme='dark'] .registerUser {
  content: url('../../static/img/lasr/tutorials/chess/registerUser-dark.png');
}

.createGame {
  content: url('../../static/img/lasr/tutorials/chess/createGame-light.png');
}

[data-theme='dark'] .createGame {
  content: url('../../static/img/lasr/tutorials/chess/createGame-dark.png');
}

.acceptGame {
  content: url('../../static/img/lasr/tutorials/chess/acceptGame-light.png');
}

[data-theme='dark'] .acceptGame {
  content: url('../../static/img/lasr/tutorials/chess/acceptGame-dark.png');
}

.makeMove {
  content: url('../../static/img/lasr/tutorials/chess/makeMove-light.png');
}

[data-theme='dark'] .makeMove {
  content: url('../../static/img/lasr/tutorials/chess/makeMove-dark.png');
}

.faucet, .fungible, .burd, .chess {
  color: #000;
  fill: #000;
  stroke: #000;
  transition: all 0.3s ease;
}

[data-theme='dark'] .faucet, [data-theme='dark'] .fungible, [data-theme='dark'] .burd, [data-theme='dark'] .chess {
  color: #FFF;
  fill: #FFF;
  stroke: #FFF;
}

[data-theme='dark'] .nft path {
  fill: #FFF;
  transition: all 0.3s ease;
}

.link_card:hover .faucet,
.link_card:hover .fungible,
.link_card:hover .burd,
.link_card:hover .chess,
.link_card:hover .nft path {
  fill: var(--border-color-hover);
}

.architecture-img {
  content: url('../../static/img/allegra/architecture-light.png');
}

[data-theme='dark'] .architecture-img {
  content: url('../../static/img/allegra/architecture-dark.png');
}